{% extends 'base.html.twig' %}

{% block title %}Modifier Le Restaurant{% endblock %}

{% block body %}
    <h1>Modifier Le Restaurant</h1>

    {{ include('restaurant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_restaurant_index') }}">Retour À La Liste</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
