{% extends 'base.html.twig' %}

{% block title %}Nouveau Restaurant{% endblock %}

{% block body %}
    <h1>Créer Un Nouveau Restaurant</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('app_restaurant_index') }}">Retour À La Liste</a>
{% endblock %}
